:root {
  --background: #faf7f2;
  --background-opa: #faf7f2d9;
  --pink: #f45b68d5;
  --light-pink: #f45b688c;
  --blue: #396acdcb;
  --light-blue: #e9effa;
  --purple: #9889be;
  --green: #bddec2e0;
  --light-green: #bddec287;
  --orange: #f5c471;
  --yellow: #f4e404bc;
  --black: #4b5161;
  --light-grey: #c2c2c480;
  --white: #fff;
}

// .blend-mode {
//   mix-blend-mode: difference;
//   color: white;
// }
