@use "../util/" as u;

.acheivements {
  margin: 0 0 0 0;
  grid-area: abme-achieve;
  //background-color: var(--brown);
  text-align: center;
  width: 100%;
  // h1 {
  //   color: var(--white);
  // }
  &__item {
    margin: 0 0 0 0;
    &__title {
      font-size: clamp(u.rem(16), u.rem(12) + 1vw, u.rem(20));
      font-weight: 700;
      text-align: center;
      p {
        margin: 0 0 0 0;
        text-align: center;
        width: min-content;
      }
    }
  }
}
