@use "../util/" as u;
@import "../util/parallax";
@include parallax-init;
a {
  color: var(--black);
}
.hero {
  grid-area: hero;
  min-height: u.rem(600);

  .center1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__item1 {
    padding: u.rem(400) 0 u.rem(400) 0;
    .title-text {
      font-size: clamp(u.rem(40), u.rem(32) + 2vw, u.rem(80));
    }
    .text-container {
      padding-bottom: 0;
      margin-bottom: u.rem(40);
      width: fit-content;
    }
    .sec-text:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--background);
      border-left: 2px solid var(--pink);
      animation: text-animate 3s steps(8) infinite;
    }
    &__button {
      min-width: 2%;
      text-align: center;
      margin-top: u.rem(180);
      margin-left: auto;
      margin-right: auto;
      padding: u.rem(16) u.rem(16);
      background-color: opacity($color: #00000000);
      color: var(--black);
      border: 2px solid var(--black);
      transition-duration: 0.4s;

      color: var(--black);
    }
    &__button:hover {
      background-color: var(--black);

      color: var(--background);
    }
  }

  > * {
    position: absolute;
  }
  @keyframes text-animate {
    40% {
      left: 100%;
    }
    60% {
      left: 100%;
    }
    100% {
      left: 0%;
    }
  }
}
